---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
import About from "../components/About.astro";
import PurchaseAdd from "../components/PurchaseAdd.astro";
import Service from "../components/Service.astro";
import Stats from "../components/Stats.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
  <Head title= "Desatascos en Madrid - Al mejor precio" />
  <body id="bg">
    <div class="page-wraper">
      <Header />
      <!-- Content -->
      <div class="page-content">
        <Slider />
        <About />
        <PurchaseAdd />
        <Service />
        <Stats />
       
      </div>
      <!-- Content End -->
<Footer />
      <!-- scroll top button -->
      <button class="scroltop fa fa-arrow-up"></button>
    </div>
    <!-- JavaScript  files ========================================= -->
    <script src="/js/jquery.min.js" is:inline></script><!-- JQUERY.MIN JS -->
    <script src="/plugins/bootstrap/js/popper.min.js" is:inline
    ></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js" is:inline
    ></script><!-- BOOTSTRAP.MIN JS -->
    <script src="/plugins/bootstrap-select/bootstrap-select.min.js" is:inline
    ></script><!-- FORM JS -->
    <script
      src="/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"
      is:inline
    ></script><!-- FORM JS -->
    <script src="/plugins/magnific-popup/magnific-popup.js" is:inline
    ></script><!-- MAGNIFIC POPUP JS -->
    <script src="/plugins/counter/waypoints-min.js" is:inline
    ></script><!-- WAYPOINTS JS -->
    <script src="/plugins/counter/counterup.min.js" is:inline
    ></script><!-- COUNTERUP JS -->
    <script src="/plugins/imagesloaded/imagesloaded.js" is:inline
    ></script><!-- IMAGESLOADED -->
    <script src="/plugins/masonry/masonry-3.1.4.js" is:inline
    ></script><!-- MASONRY -->
    <script src="/plugins/masonry/masonry.filter.js" is:inline
    ></script><!-- MASONRY -->
    <script src="/plugins/owl-carousel/owl.carousel.js" is:inline
    ></script><!-- OWL SLIDER -->
    <script src="/plugins/lightgallery/js/lightgallery-all.js" is:inline
    ></script><!-- LIGHT GALLERY -->
    <script src="/js/custom.min.js" is:inline></script><!-- CUSTOM FUCTIONS  -->
    <script src="/js/dz.carousel.min.js" is:inline
    ></script><!-- SORTCODE FUCTIONS  -->

    <script src="/js/dz.ajax.js" is:inline></script><!-- CONTACT JS  -->
    <!-- REVOLUTION JS FILES -->
    <script
      src="/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"
      is:inline
    ></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"
      is:inline
    ></script>
    <script
      src="/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"
      is:inline
    ></script>
    <script src="/js/rev.slider.js" is:inline></script>
    <script>
      jQuery(document).ready(function () {
        "use strict";
        dz_rev_slider_1();
      }); /*ready*/
    </script>
    <div id="loading-area"></div>
  </body>
</html>
