<!-- About Company -->
<div class="section-full bg-white content-inner">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-5 m-b30 hidden-sm">
          <div class="dez-thu"><img src="images/pic1.png" alt="" /></div>
        </div>
        <div class="col-lg-7">
          <h2 class="h2 m-t0">
            Quiénes <span class="text-primary"> Somos</span>
          </h2>
          <div class="dez-separator bg-primary"></div>
          <div class="clear"></div>
          <p>
            <strong
              >Desatascos Madrid es una empresa especializada en desatascar
              tuberías e inspeccionarlas con cámaras en la ciudad de Madrid y
              alrededores. Ofrecen un servicio personalizado y adaptado a las
              necesidades del cliente, con tecnología avanzada y profesionales
              altamente cualificados..</strong>
          </p>
          <p class="m-b30">
            La empresa utiliza tecnología avanzada como hidrolimpiadoras,
            sistemas de presión de aire y robots de limpieza para resolver los
            problemas de forma rápida y eficaz. Además, también realizamos
            inspecciones con cámara de alta resolución para detectar problemas
            como roturas, obstrucciones o fisuras que de otra forma serían
            difíciles de identificar. En resumen, si tienes problemas en tus
            tuberías, Desatascos Madrid es una excelente opción para
            solucionarlos de forma rápida y eficaz con su equipo profesional y
            tecnología avanzada..
          </p>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                <div class="bg-primary icon-bx-xs m-b20">
                  <span class="icon-cell">
                    <i class="fa fa-building-o"></i>
                  </span>
                </div>
                <div class="icon-content">
                  <h5 class="dez-tilte">Desatascos</h5>
                  <p>Servicio de desatascos en Madrid al mejor precio. Llámanos y compruébalo</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                <div class="bg-primary icon-bx-xs m-b20">
                  <span class="icon-cell">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <div class="icon-content">
                  <h5 class="dez-tilte">Desatrancos</h5>
                  <p>Servicio de desatrancos en Madrid al mejor precio. Llámanos y compruébalo</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="icon-bx-wraper bx-style-1 p-a20 left m-b30">
                <div class="bg-primary icon-bx-xs m-b20">
                  <span class="icon-cell">
                    <i class="fa fa-truck"></i>
                  </span>
                </div>
                <div class="icon-content">
                  <h5 class="dez-tilte">Inspecciones con Cámara</h5>
                  <p>Nalizamos el estado de tus tuberías.Realizamos inspecciones con cámara al mejor precio del mercado.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
              <div class="icon-bx-wraper bx-style-1 p-a20 left m-b10">
                <div class="bg-primary icon-bx-xs m-b20">
                  <span class="icon-cell">
                    <i class="fa fa-book"></i>
                  </span>
                </div>
                <div class="icon-content">
                  <h5 class="dez-tilte">Obras de Pocería</h5>
                  <p>Si quieres realizar una obra nueva o simplemente reparar la existente, pídenos presupuesto sin compromiso..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Company END -->
