<!-- Footer -->
<footer class="site-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
          <div class="widget widget_about">
            <div class="logo-footer">
              <img src="" alt="" />
            </div>
            <p class="m-tb20">
              <strong>Desatascos Madrid</strong> se preocupa por la satisfacción del cliente y ofrece un servicio personalizado y adaptado a sus necesidades. Además, cuenta con una flota de vehículos equipados con la maquinaria necesaria para resolver cualquier problema de desatascos.
            </p>
            
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
          <div class="widget recent-posts-entry">
            <h4 class="m-b15 text-uppercase">LINKS</h4>
            <div class="dez-separator bg-primary"></div>
            <div class="widget-post-bx">
              <div class="widget-post clearfix">
                <div class="dez-post-info">
                  <div class="dez-post-header">
                    <h6 class="post-title text-uppercase">
                      <a href="blog-single.html">Aviso Legal</a>
                    </h6>
                  </div>
                  <div class="dez-post-header">
                    <h6 class="post-title text-uppercase">
                      <a href="blog-single.html">Política Privacidad</a>
                    </h6>
                  </div>
                  <div class="dez-post-header">
                    <h6 class="post-title text-uppercase">
                      <a href="blog-single.html">Política Cookies</a>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="widget-post clearfix">
                <div class="dez-post-media"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
          <div class="widget widget_services">
            <h4 class="m-b15 text-uppercase">Nuestros Servicios</h4>
            <div class="dez-separator bg-primary"></div>
            <ul>
              <li>
                <a href="services-2.html">Destascos en Madrid</a>
              </li>
              <li><a href="services-2.html">Desatrancos en Madrid</a></li>
              <li><a href="services-2.html">Desatascos Urgentes</a></li>
              <li><a href="services-2.html">Inspección con Cámara</a></li>
              <li>
                <a href="services-2.html">Obras de Pocería</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 footer-col-4">
          <div class="widget widget_getintuch">
            <h4 class="m-b15 text-uppercase">Contacto</h4>
            <div class="dez-separator bg-primary"></div>
            <ul>
              <li>
                <i class="fa fa-map-marker"></i><strong>Dirección</strong> Calle
                Málaga 4 , Nave 39<br />
                28343 Valdemoro (Madrid)
              </li>
              <li>
                <i class="fa fa-phone"></i><strong>Teléfono</strong>680 394 539 
                (Atención 24/7)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-left">
          <span>© Copyright 2023</span>
        </div>
        <div class="col-lg-4 text-center">
          <span>
            Design With <i class="fa fa-heart text-primary heart"></i> By Pollete
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer END-->
