<!-- Our Gallery -->
        <div class="section-full content-inner-2">
          <div class="container">
            <div class="section-head text-center">
              <h2 class="h2">Our Projects</h2>
              <div class="dez-separator-outer">
                <div class="dez-separator bg-primary style-liner"></div>
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry has been the industry's standard dummy text ever since
                the been when an unknown printer.
              </p>
            </div>
            <div class="section-content">
              <div class="gallery-filters clearfix text-center m-b40">
                <ul class="filters" data-toggle="buttons">
                  <li data-filter="" class="">
                    <a href="#" class="site-button-link">All</a>/
                  </li>
                  <li data-filter="builder" class="">
                    <a href="#" class="site-button-link">Builder</a>/
                  </li>
                  <li data-filter="hammer" class="">
                    <a href="#" class="site-button-link">Hammer</a>/
                  </li>
                  <li data-filter="painting" class="">
                    <a href="#" class="site-button-link">Painting</a>/
                  </li>
                  <li data-filter="electric" class="">
                    <a href="#" class="site-button-link">Electric</a>
                  </li>
                </ul>
              </div>
              <div class="clearfix">
                <ul
                  id="masonry"
                  class="row dez-gallery-listing gallery-grid-4 gallery lightgallery"
                >
                  <li class="hammer card-container col-lg-3 col-md-3 col-sm-4">
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic1.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic1.jpg"
                              data-src="images/gallery/large/pic1.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 1"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="builder card-container col-lg-3 col-md-3 col-sm-4">
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow dez-img-effect zoom radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic2.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic2.jpg"
                              data-src="images/gallery/large/pic2.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 2"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    class="electric card-container col-lg-3 col-md-3 col-sm-4"
                  >
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic3.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic3.jpg"
                              data-src="images/gallery/large/pic3.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 3"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="builder card-container col-lg-3 col-md-3 col-sm-4">
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic4.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic4.jpg"
                              data-src="images/gallery/large/pic4.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 4"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    class="electric card-container col-lg-3 col-md-3 col-sm-4"
                  >
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic5.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic5.jpg"
                              data-src="images/gallery/large/pic5.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 5"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    class="painting card-container col-lg-3 col-md-3 col-sm-4"
                  >
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic6.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic6.jpg"
                              data-src="images/gallery/large/pic6.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 6"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="hammer card-container col-lg-3 col-md-3 col-sm-4">
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic7.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic7.jpg"
                              data-src="images/gallery/large/pic7.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 7"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    class="painting card-container col-lg-3 col-md-3 col-sm-4"
                  >
                    <div class="dez-box dez-gallery-box m-b0">
                      <div
                        class="dez-media dez-img-overlay1 dez-img-effect zoom-slow radius-sm"
                      >
                        <a href="javascript:void(0);">
                          <img
                            width="480"
                            height="430"
                            src="images/gallery/pic8.jpg"
                            alt=""
                          />
                        </a>
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="portfolio-details.html">
                              <i class="fa fa-link icon-bx-xs"></i>
                            </a>
                            <span
                              data-exthumbimage="images/gallery/thumb/pic8.jpg"
                              data-src="images/gallery/large/pic8.jpg"
                              class="icon-bx-xs check-km"
                              title="Title Come Here 8"
                            >
                              <i class="fa fa-picture-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Our Gallery END -->