<!-- Latest News -->
        <div class="section-full content-inner-1 box-shadow">
          <div class="container">
            <div class="section-head text-center">
              <h2 class="h2">Latest Blog Post</h2>
              <div class="dez-separator-outer">
                <div class="dez-separator bg-primary style-liner"></div>
              </div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry has been the industry's standard dummy text ever since
                the been when an unknown printer.
              </p>
            </div>
            <div class="section-content">
              <div
                class="blog-carousel owl-carousel owl-theme owl-dots-none owl-btn-center-lr"
              >
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="ow-blog-post date-style-2">
                    <div class="ow-post-media dez-img-effect zoom-slow">
                      <img
                        width="700"
                        height="438"
                        src="images/our-work/pic6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ow-post-info">
                      <div class="ow-post-title">
                        <h4 class="post-title">
                          <a href="#" title="Video post"
                            >Blog post carousel title</a
                          >
                        </h4>
                      </div>
                      <div class="ow-post-meta">
                        <ul>
                          <li class="post-date">
                            <i class="fa fa-calendar"></i><strong>17 Mar</strong
                            >
                            <span> 2020</span>
                          </li>
                          <li class="post-author">
                            <i class="fa fa-user"></i>By <a
                              href="#"
                              title="Posts by demongo"
                              rel="author">demongo</a
                            >
                          </li>
                          <li class="post-comment">
                            <i class="fa fa-comments"></i>
                            <a href="#" class="comments-link">1 Comment</a>
                          </li>
                        </ul>
                      </div>
                      <div class="ow-post-text">
                        <p>
                          Lorem Ipsum by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal .
                        </p>
                      </div>
                      <div class="ow-post-readmore">
                        <a
                          href="#"
                          title="READ MORE"
                          rel="bookmark"
                          class="site-button-link"
                        >
                          READ MORE <i class="fa fa-angle-double-right"></i></a
                        >
                      </div>
                      <div class="ow-post-tags clearfix">
                        <div class="post-tags">
                          <a href="#">Child</a>
                          <a href="#">Eduction</a>
                          <a href="#">Money</a>
                          <a href="#">Resturent</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Latest News END -->