 <!-- Purchase Add -->
        <div class="section-full bg-img-fix overlay-black-middle content-inner-1 about-uni" style="background-image:url(images/background/bg2.jpg);">
            <div class="container" >
				<div class="row text-white">	
					<div class="col-lg-6 col-md-8">
						<h2 class="m-a0">DESATRANCOS EN MADRID</h2>
						<p class="m-b0">NO COBRAMOS DESPLAZAMIENTO. CONSÚLTANOS</p>
					</div>	
					<div class="col-lg-6 col-md-4">
						<a href="tel://+34915771849" class="site-button pull-right m-t15">Llama Ahora</a>
					</div>
				</div>
			</div>	
		</div>
        <!-- Purchase Add END -->