
<!-- Our Awesome Services -->
        <div class="section-full box-shadow bg-white content-inner">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-12 text-center section-head">
                            <h2 class="h2">SERVICIOS</h2>
							<div class="dez-separator-outer"><div class="dez-separator bg-primary style-liner"></div></div>
                            <div class="clear"></div>
                            <p class="m-b0">Ofrecemos nuestros servicios de desatascos en Madrid a administradores de fincas, comunidades de propietarios, empresas, chalets o pisos, colegios, empresas .....</p>
                        </div>    
					</div>		
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b40 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-check text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">CALIDAD</h5>
									<p>Nuestros servicios siempre cuentan con la mayor calidad. Utilizamos materiales de primera para la tranquilidad de nuestros clientes y la nuestra</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b40 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-money text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">ECONÓMICOS</h5>
									<p>No cobramos desplazamiento. Somos la empresa más económica de Madrid en desatascos y desatrancos.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b40 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-video-camera text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">TECNOLOGÍA</h5>
									<p>Trabajamos con la última tecnología con robots pra inspeccionar tus tuberías y realizar informes si lo solicitas.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b40 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-fast-forward text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">RAPIDEZ</h5>
									<p>Acudimos de inmediato ante cualquier avería grave que pueda trastocar tus planes. Servicio Urgente</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b40 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-cubes text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">EXPERIENCIA</h5>
									<p>Contamos con más de 20 años de experiencia en el sector ofreciendo servicios de calidad a nuestros clientes</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="icon-bx-wraper center m-b10 m-lr15">
								<div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="fa fa-area-chart text-primary"></i></span> </div>
								<div class="icon-content">
									<h5 class="dez-tilte text-uppercase">URGENCIAS</h5>
									<p>Acudimos de inmediato ante cualquier desatasco de urgencia. 24 horas a tu servicio</p>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- Our Awesome Services END -->