<!-- Stats -->
        <div
          class="section-full text-white bg-img-fix content-inner overlay-black-middle"
          style="background-image:url(images/background/bg6.jpg);"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                <div class="p-a30 text-white text-center border-3">
                  <div class="icon-lg m-b20">
                    <i class="fa fa-building-o"></i>
                  </div>
                  <div class="counter text-white m-b5 h2">10035</div>
                  <span>Servicios</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                <div class="p-a30 text-white text-center border-3">
                  <div class="icon-lg m-b20"><i class="fa fa-group"></i></div>
                  <div class="counter text-white m-b5 h2">455</div>
                  <span>Clientes Satisfechos</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                <div class="p-a30 text-white text-center border-3">
                  <div class="icon-lg m-b20">
                    <i class="fa fa-slideshare"></i>
                  </div>
                  <div class="counter text-white m-b5 h2">1552</div>
                  <span>Inspecciones</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 m-b10">
                <div class="p-a30 text-white text-center border-3">
                  <div class="icon-lg m-b20"><i class="fa fa-home"></i></div>
                  <div class="counter text-white m-b5 h2">656</div>
                  <span>Proyectos Acabados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Stats End -->